.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meals-loading {
  text-align: center;
  color: white;
}

.meals-error {
  background-color: rgb(255, 212, 212);
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  width: 40%;
  margin: 20px auto 0;
  text-align: center;
  color: red;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
