// COLOR VARIABLES
$white: #fff;
$dark: #29292e;
$gray: #737380;
$light-gray-100: #a8a8b3;
$light-gray-50: #e2e2e2;
$light-gray-40: #f8f8f8;
$light-gray-30: #fefefe;
$purple: #835afd;
$pink: #e559f9;
$red: #ea4335;
